/.gradle/4.4.1/fileContent/annotation-processors.bin
/.gradle/4.4.1/fileContent/fileContent.lock
/.gradle/4.4.1/fileHashes/fileHashes.bin
/.gradle/4.4.1/fileHashes/fileHashes.lock
/.gradle/4.4.1/fileHashes/resourceHashesCache.bin
/.gradle/4.4.1/taskHistory/taskHistory.bin
/.gradle/4.4.1/taskHistory/taskHistory.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/gradle.log
/.idea/compiler.xml
/.idea/dictionaries/Pepe.xml
/.idea/gradle.xml
/.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Gradle__ca_weblite_java_objc_bridge_1_0_0.xml
/.idea/libraries/Gradle__com_flowpowered_flow_math_1_0_3.xml
/.idea/libraries/Gradle__com_flowpowered_flow_noise_1_0_1_SNAPSHOT.xml
/.idea/libraries/Gradle__com_github_ben_manes_caffeine_caffeine_2_5_4.xml
/.idea/libraries/Gradle__com_github_ben_manes_caffeine_guava_2_5_4.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_0.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_0_15.xml
/.idea/libraries/Gradle__com_google_guava_guava_21_0.xml
/.idea/libraries/Gradle__com_google_inject_guice_4_1_0.xml
/.idea/libraries/Gradle__com_h2database_h2_1_4_196.xml
/.idea/libraries/Gradle__com_ibm_icu_icu4j_core_mojang_51_2.xml
/.idea/libraries/Gradle__com_mojang_authlib_1_5_25.xml
/.idea/libraries/Gradle__com_mojang_patchy_1_1.xml
/.idea/libraries/Gradle__com_mojang_realms_1_10_22.xml
/.idea/libraries/Gradle__com_mojang_text2speech_1_10_3.xml
/.idea/libraries/Gradle__com_paulscode_codecjorbis_20101023.xml
/.idea/libraries/Gradle__com_paulscode_codecwav_20101023.xml
/.idea/libraries/Gradle__com_paulscode_libraryjavasound_20101123.xml
/.idea/libraries/Gradle__com_paulscode_librarylwjglopenal_20100824.xml
/.idea/libraries/Gradle__com_paulscode_soundsystem_20120107.xml
/.idea/libraries/Gradle__com_typesafe_akka_akka_actor_2_11_2_3_3.xml
/.idea/libraries/Gradle__com_typesafe_config_1_2_1.xml
/.idea/libraries/Gradle__com_typesafe_config_1_3_1.xml
/.idea/libraries/Gradle__com_zaxxer_HikariCP_2_6_3.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_1_3.xml
/.idea/libraries/Gradle__io_netty_netty_all_4_1_9_Final.xml
/.idea/libraries/Gradle__it_unimi_dsi_fastutil_7_1_0.xml
/.idea/libraries/Gradle__java3d_vecmath_1_5_2.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__lzma_lzma_0_0_1.xml
/.idea/libraries/Gradle__net_java_dev_jna_jna_4_4_0.xml
/.idea/libraries/Gradle__net_java_dev_jna_platform_3_4_0.xml
/.idea/libraries/Gradle__net_java_jinput_jinput_2_0_5.xml
/.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_linux_2_0_5.xml
/.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_osx_2_0_5.xml
/.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_windows_2_0_5.xml
/.idea/libraries/Gradle__net_java_jutils_jutils_1_0_0.xml
/.idea/libraries/Gradle__net_minecraft_launchwrapper_1_12.xml
/.idea/libraries/Gradle__net_sf_jopt_simple_jopt_simple_5_0_3.xml
/.idea/libraries/Gradle__net_sf_trove4j_trove4j_3_0_3.xml
/.idea/libraries/Gradle__ninja_leaping_configurate_configurate_core_3_3.xml
/.idea/libraries/Gradle__ninja_leaping_configurate_configurate_gson_3_3.xml
/.idea/libraries/Gradle__ninja_leaping_configurate_configurate_hocon_3_3.xml
/.idea/libraries/Gradle__ninja_leaping_configurate_configurate_yaml_3_3.xml
/.idea/libraries/Gradle__org_apache_commons_commons_compress_1_8_1.xml
/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_3_3.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_8_1.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_core_2_8_1.xml
/.idea/libraries/Gradle__org_apache_logging_log4j_log4j_slf4j_impl_2_8_1.xml
/.idea/libraries/Gradle__org_apache_maven_maven_artifact_3_5_3.xml
/.idea/libraries/Gradle__org_codehaus_plexus_plexus_utils_3_1_0.xml
/.idea/libraries/Gradle__org_jline_jline_3_5_1.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_2_9_4_nightly_20150209.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_linux_2_9_4_nightly_20150209.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_osx_2_9_4_nightly_20150209.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_windows_2_9_4_nightly_20150209.xml
/.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_util_2_9_4_nightly_20150209.xml
/.idea/libraries/Gradle__org_mariadb_jdbc_mariadb_java_client_2_0_3.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_5_2.xml
/.idea/libraries/Gradle__org_ow2_asm_asm_debug_all_5_2.xml
/.idea/libraries/Gradle__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_1.xml
/.idea/libraries/Gradle__org_scala_lang_modules_scala_swing_2_11_1_0_1.xml
/.idea/libraries/Gradle__org_scala_lang_modules_scala_xml_2_11_1_0_2.xml
/.idea/libraries/Gradle__org_scala_lang_plugins_scala_continuations_library_2_11_1_0_2.xml
/.idea/libraries/Gradle__org_scala_lang_plugins_scala_continuations_plugin_2_11_1_1_0_2.xml
/.idea/libraries/Gradle__org_scala_lang_scala_actors_2_11_0.xml
/.idea/libraries/Gradle__org_scala_lang_scala_actors_migration_2_11_1_1_0.xml
/.idea/libraries/Gradle__org_scala_lang_scala_compiler_2_11_1.xml
/.idea/libraries/Gradle__org_scala_lang_scala_library_2_11_1.xml
/.idea/libraries/Gradle__org_scala_lang_scala_reflect_2_11_1.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Gradle__org_spongepowered_mixin_0_7_11_SNAPSHOT.xml
/.idea/libraries/Gradle__org_spongepowered_plugin_meta_0_4_1.xml
/.idea/libraries/Gradle__org_spongepowered_spongeforge_dev_1_12_2_2611_7_1_0_BETA_2931.xml
/.idea/libraries/Gradle__org_xerial_sqlite_jdbc_3_20_0.xml
/.idea/libraries/Gradle__org_yaml_snakeyaml_1_18.xml
/.idea/libraries/Gradle__oshi_project_oshi_core_1_1.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/PokeSmash_api.iml
/.idea/modules/PokeSmash_main.iml
/.idea/modules/PokeSmash_test.iml
/.idea/workspace.xml
/PokeSmash.iml
/build.gradle
/build/classes/java/main/mc/cosmos/pokesmash/PokeSeek.class
/build/classes/java/main/mc/cosmos/pokesmash/PokeSmashCoreMod.class
/build/classes/java/main/mc/cosmos/pokesmash/abilities/Ability.class
/build/classes/java/main/mc/cosmos/pokesmash/events/ToggleFlyEvent.class
/build/classes/java/main/mc/cosmos/pokesmash/listeners/WallRideListener.class
/build/classes/java/main/mc/cosmos/pokesmash/mixins/MixinNetHandlerPlayServer.class
/build/classes/java/main/mc/cosmos/pokesmash/passives/Passive.class
/build/resources/main/mcmod.info
/build/resources/main/mixins.pokesmash.json
/build/sources/main/java/mc/cosmos/pokesmash/PokeSeek.java
/build/sources/main/java/mc/cosmos/pokesmash/PokeSmashCoreMod.java
/build/sources/main/java/mc/cosmos/pokesmash/abilities/Ability.java
/build/sources/main/java/mc/cosmos/pokesmash/events/ToggleFlyEvent.java
/build/sources/main/java/mc/cosmos/pokesmash/listeners/WallRideListener.java
/build/sources/main/java/mc/cosmos/pokesmash/mixins/MixinNetHandlerPlayServer.java
/build/sources/main/java/mc/cosmos/pokesmash/passives/Passive.java
/build/tmp/compileJava/compileJava-refmap.json
/build/tmp/compileJava/mcp-notch.srg
/build/tmp/compileJava/mcp-srg.srg
/build/tmp/compileJava/mixin.imports.json
/build/tmp/compileJava/mixins.pokesmash.refmap.json
/build/tmp/extractAnnotationsJar/input6521313989187140487.jar
/build/tmp/generateMetadata/mcmod.info
/build/tmp/jar/MANIFEST.MF
/build/tmp/reobfJar/reobf-default1299039263620402769.srg
/build/tmp/reobfJar/reobf-extraLines1921161972605545481.srg
/.gradle/4.4.1/fileChanges
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
